# This workflow creates all environment-specific resources that are shared across applications.
# This needs to run before creating an application-specific environment.
name: Manually create a shared environment

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

on:
  workflow_dispatch:
    inputs:
      environmentName:
        description: 'The name of the environment to create.'
        required: true
        default: 'development'
jobs:
  deploy-network-stack:
    if: github.ref == 'refs/heads/feature/aws_ecr_deploy'
    runs-on: ubuntu-20.04
    name: Deploy the network stack
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: 'gradle'

      # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0
        with:
          gradle-version: '8.8'


      - name: NPM install
        working-directory: cdk
        run: npm install

      - name: Deploy network stack
        working-directory: cdk
        run: npm run network:deploy -- -c environmentName=${{ github.event.inputs.environmentName }}